body{
    display: flex;
    flex-direction: column;
    background-color: #e84848;
}
#container {
    position: fixed;
    height: 94vh;
    width: 96vw;
    /* border: 3px solid blue; */
    background-image: url(https://cdn.dribbble.com/users/1363206/screenshots/5497614/pokedex_dribbble-01.jpg);
    background-color: #e84848;
    background-size: 168vw 168vh;
    background-position-x: -35vw;
    background-position-y: -34vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
}
#control{
    /* border: 3px solid skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 2vw;
    top: 19vh;
    width: 42vw;
    height: 76vh;
}
#input{
    width: 27vw;
    position: fixed;
    right: 9.8vw;
    top: 38.5vh;
    height: 8vh;
    align-self: center;
    background-color: darkslategray !important;
    color: lightgreen !important;
}
#searchButton{
    position: fixed;
    align-self: center;
    color: white;
    right: 23vw;
    bottom: 7.6vh;
    width: 16vw;
    height: 9vh;
    background-color: green;
    border: 3px outset darkgreen;
    border-radius: 10%/ 50%;
    box-shadow: 2px 2px 2px inset lightgreen;
}
#error {
    align-self: center;
    font-size: small;
    position: relative;
    left: -1.2vw;
    color: yellow;
    margin: 0;
    width: 28.4vw;
    height: 11vh;
    top: -9.5vh;
    background-color: rgba(250,20,0,0.7);
    text-align: justify;
}
#viewLabel{
    position: fixed;
    top: 39vh;
    background-color: rgba(238,238,236,0.9);
    left: 15vw;
    color: black;
}
#view{
    height: 21vh;
    bottom: 34.7vh;
    width: 32.2vw;
    border: none;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    position: fixed;
    left: 8.5vw;
    align-self: center;
    justify-self: center;
    background-color: rgba(59,60,60,0.98);
    color: limegreen;
    justify-content: center;
    font-size: small;
    border-radius: 5%/15%;
}
#img {
    /* max-height: 22vh; */
    /* max-width: 22vh; */
    display: inline-block;
    position: relative;
    width: 58%;
    height: auto;
    align-self: center;
}
#info{
    align-self: center;
    display: inline-block;
    position: relative;
    margin: 0;

}
#typeList{
    position: relative;
    align-self: center;
    padding-inline-start: 10px;
    display: inline-block;
    margin: 0;   
}
#selectSearch{
    color: gold;
    position: absolute;
    bottom: -27.6vh;
    right: 14.4vw;
    width: 10vw;
}
#typePokemonList{
    color: aliceblue;
    position: absolute;
    bottom: -13.7vh;
    border-radius: 13%/129%;
    background: darkred;
    border: 0;
}

@media screen and (min-width: 693px) {
    #container {
        font-size: smaller !important;
    }
    #view,#error{
        font-size: smaller !important;
    }
    #img{
        width: 55%;
    }
}

@media screen and (max-width: 689px) {
    #container {
        font-size: smaller !important;
    }
    #view,#error{
        font-size: smaller !important;
    }
    #img{
        width: 55%;
    }
}


@media screen and (max-width: 677px) {
    #container {
        font-size: x-small !important;
    }
    #view,#error{
        font-size: x-small !important;
    }
    #img{
        width: 45%;
    }
    
}
@media screen and (max-width: 631px) {
    #container {
        font-size: xx-small !important;
    }
    #view,#error{
        font-size: xx-small !important;
    }
    /* #img{
        width: 35%;
    } */
}
